.myModal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
    display: none;
    background-color: rgba(0,0,0,.5);
    .myModalContent{
        position: relative;
        padding: 30px 30px;
        width: 650px;
        /* height: 350px; */
        margin: auto;
        align-items: center;
        border-radius: 15px;
        background-color: #fff;
    }
}

.active{
    display: flex;
    justify-content: center;
    align-items: center;
}