.container{
    width: 75%;
    margin: auto;
}
.message{
    position: fixed;
    bottom:30px;
    right: 30px;
    z-index: 3;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.backToTop{
    cursor: pointer;
    position: fixed;
    bottom:105px;
    right: 40px;
    z-index: 3;
    width: 40px;
    height: 50px;
}

@media (max-width : 800px) {
     .message{
        right: 100px;
     }
     .backToTop{
        right: 110px;
     }
}
